<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Data Science & Big Data Certificate</h1>
            <span>Telecom ParisTech</span>
            <span><address>Paris, FR</address><time>January 2016 to January 2017</time></span>
        </header>
	<p>- Vapnik-Chervonenkis theory for statistic learning</p>
	<p>- Supervised/Unsupervised Learning</p>
	<p>- Markov Chains and Bayesian Networks</p>
	<p>- NoSQL database</p>
	<p>- Storage and Computation (Map/Reduce, PageRank) of distributed data</p>
	<p>- Data vizualisation</p>
    </article>
    <article>
        <header>
            <h1>MSc in Mathematics and Computer Science</h1>
            <span>Telecom Bretagne</span>
            <span><address>Brest, FR</address><time>2005 to 2008</time></span>
        </header>
        <p>- Deterministics signals and frequency analysis.</p>
        <p>- Random signals and statistics.</p>
        <p>- Image processing for computer vision.</p>
    </article>
    <article>
        <header>
            <h1>Preparatory Classes</h1>
	    <span>Lycée Fénelon</span>
            <span><address>Paris, FR</address><time>2002 to 2005</time></span>
        </header>
    </article>
</section>
