<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Machine Learning & Computer Vision Engineer</h1>
            <span><address>Smiths Detection, Vitry-Sur-Seine, FR</address><time>August 2012 to Present</time></span>
        </header>
        <p>Development of machine learning protoypes to classify, detect and localize 
       threats in X-ray images.</p>
       <p>- Feature extraction using high-level descriptors like HoGs and Wavelets.</p>
       <p>- Feature classification using non linear classifiers (SVM, KNN) and ensemble
       methods (Gradient Boosting, Random Forest).</p>
       <p>- Implementation of deep learning methods to classify images (CNN) and localize threats or
       objects for recognition purpose (RCNN).</p>
       <p>- Adding Semantic information (WordNet) to develop Content-Based Image Retrieval system for cargo inspection. </p>
       <p>- Assisting software team for release implementations.</p>
    </article>
    <article>
        <header>
            <h1>Machine Learning & Computer Vision Engineer</h1>
            <span><address>Thalès C&S, Velizy, FR</address><time>August 2011 to July 2012</time></span>
        </header>
        <p>Development of machine learning functions on color images to analyse (colour, shape, license plate) and
	control vehicles at frontiers.</p>
	<p>- Localize vehicle using high level image processing (Hough transform).</p>
	<p>- Develop SIFT feature extractor for shape recognition.</p>
	<p>- Colour vehicle classfication using a derivation of PLSA dataminig algorithm (Probabilistic Latent Semantic Analysis) and color hierarchical clustering (Mean-Shift algorithm).</p>
    </article>
    <article>
        <header>
            <h1>Signal Processing Engineer</h1>
            <span><address>Thalès Air Systems, Limours, FR</address><time>June 2009 to November 2010</time></span>
        </header>
        <p>Development of a prototype function on ground pulse radar, to detect exact positions and speeds targets (solving
	well-known distance/speed ambiguities)</p>
	<p>- Clustering elementary detections using Hierarchical Ascendant Clustering with Ward distance.</p>
	<p>- Prune false alarm by satistics test (goodness-of-fit) on cluster compactness.</p>
	<p>- Development led on synthesized data and fine-tuning parameters led on ground-truth recordings.</p>
	<p>- Assisting sofware team for release implementation and validation team for real time analysis.</p>
    </article>
    <article>
        <header>
	    <h1>Internship Engineer</h1>
            <span><address>Dassault-Aviation, Saint-Cloud, FR</address><time>March 2008 to October 2008</time></span>
        </header>
        <p>Prototype an antena mesh and simulate it to meet performance requirements (central frequency and bandwith, spatial directivity).</p>
    </article>
</section>
