<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Summer Job</h1>
            <span><address>Le Pain Quotidien, UK</address><time>July 2007 to September 2007</time></span>
        </header>
        <p>
            Work as waiter in London city centre
        </p>
    </article>
    <article>
        <header>
            <h1>Student Job</h1>
            <span><address>Paris, FR</address><time>2010 to 2012</time></span>
        </header>
        <p>
            Provide mathematics & physics courses to a college student
        </p>
    </article>
</section>
